<div class="content-panel">
    <div class="content-panel-close">
        <i class="os-icon os-icon-close"></i>
    </div>
    <div class="element-wrapper">
        <h6 class="element-header">
            Quick Links!!
        </h6>
        <div class="element-box-tp">
            <div class="el-buttons-list full-width">
                <a class="btn btn-white btn-sm" href="{{ paths.file_server }}" ><i class="os-icon os-icon-wallet-loaded"></i><span>Image CDN</span></a>
                <a class="btn btn-white btn-sm" href="{{ site_url }}/swagger/does/index.html" ><i class="os-icon os-icon-wallet-loaded"></i><span>API</span></a>
                <a class="btn btn-white btn-sm" href="{{ paths.market }}" ><i class="os-icon os-icon-wallet-loaded"></i><span>market</span></a>
            </div>
        </div>
    </div>

</div>
