<div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">


        <h4 class="auth-header"><br>
           DECENTRALIZED OFFICE
        </h4>

        <div style="padding: 20px" class="form-group">

            <p>
            Access to Saving to earn on Defi Protocols (AAVE, COMPOUND, UMA etc using local currencies) using FIAT, Decentralized Image/File storage API, and lots more.
            </p><br>
          <p>  1. Saving to earn on Defi Protocols.</p>
            <p>   2. ImageServer(Decentralized file storage/streaming). </p>
           <p> 3. The Credit Unions (Esusu)  Saving on group to earn more.</p>


        </div >

            <div style="padding: 30px" class="row">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ paths.app }}"> <button id="CONNECT_APP_BUTTON" type="BUTTON" class="btn btn-primary">CONNECT APP </button></a>

                <hr>
            </div>
        <div style="padding: 30px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  |
                <a  href="{{ paths.app }}"> APP </a>

                |
                <a target="_blank" href="{{ site_url }}/swagger/does/index.html"> CDN API </a>
                |
                <a href="{{ paths.file_server }}"> Image CDN </a>

            </div>



        <div style="padding: 20px" class="form-group">

            Love this app, tell your friends/
            <!-- ShareThis BEGIN -->
            <div class="sharethis-inline-share-buttons"></div>
            <!-- ShareThis END -->
            <br>
        </div>


    </div>
</div>
